*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier', sans-serif;
}

body{
  background-image: url(img/fondo.png);
}

.titulo, .experiencia, .educacion, .habilidades, .contacto{
  padding-top: 70px;
  padding-left: 220px;
}

#titulo{
  max-width: 700px;
}

h1{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
  background-color: #2D2D35;
  font-size: 60px;
}

h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #2D2D35;
  color: #FFFFFF;
  font-size: 35px;
  padding-left: 30px;
  max-width: 580px;

}

p{
  margin-bottom: 1rem;
  color: #FF914D;
  background-color: #2D2D35;
  font-size: 25px;
  padding-left: 30px;
  max-width: 700px;
}

a{
  color: lightgreen;
  background-color: #2D2D35;
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
  max-width: 580px;
}

img{
  margin-left: 220px;
  background-color: #2D2D35;
}

#foto{
  color: lightgreen;
}

#llave{
  padding-left: 30px;
  max-width: 90px;
}